{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<html>
<head>
    <title>Ezoic Chat</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<body>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var uname = '{{uname}}' //get the username that was passed from home screen
        socket.on('connect', function() { //when a user connects, send a message
            socket.send('System: '+uname + ' has connected');
            //console.log('CONNECTED') //testing
        }); //taken from flask socketio documentation

        socket.on('message',function(message){ //messaging
            $("#message_log").append('<li>'+message+'</li>'); //append the message to the list
        });

        function send(){
            socket.send(uname + ': '+$('#message_input').val()); //send message
            console.log('message sent'); //testing
            $('#message_input').val(''); //empty the text input
        }

        function logout(){
            socket.send('System: '+uname+' has disconnected');
            //console.log('DISCONNECTED') //testing
        }

    </script>

    <ul id="message_log" style="overflow: hidden; overflow-y: scroll; height: 200px;"></ul>
    <input type="text" id="message_input" class="form-control">
    <div class="btn-group">
        <button id="sendbutton" onclick="send()" class="btn btn-success">Send Message</button>
        <a href="/" class="btn btn-danger" onclick="logout()">Log Out</a>
    </div>
    
</body>
</html>