{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<html>
<head>
    <title>Ezoic Chat</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<body>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var uname = '{{uname}}' //get the username that was passed from home screen
        socket.on('connect', function() { //when a user connects, send a message
            socket.send('System: '+uname + ' has connected');
            //console.log('CONNECTED') //testing
        }); //taken from flask socketio documentation

        socket.on('message',function(message){ //messaging
            var uname = '{{uname}}'; //store current username
            if(message.includes('@'+uname)){ //if the message text includes @username
                console.log('direct message');
                //var nametext = message.substring(0,uname.length)
                $("#message_log").append('<li>'+message.bold()+'</li>');
            } else {
                $("#message_log").append('<li>'+message+'</li>'); //append the message to the list
            }
        });

        var date = new Date()
        
        var dateAndTime = (date.getMonth()+1) + '/' + date.getDate() + '/' + date.getFullYear() + ' at: ' + date.getHours() + ':' + date.getMinutes();
        console.log(dateAndTime) 

        //var obj = JSON.parse("{{messageData|safe}}".replace("'",'"'));
        //console.log(obj);
        //console.log(typeof('{{messageData}}'))
        //console.log('{{messageData|tojson|safe}}')

        function send(){
            socket.send(uname + ': '+$('#message_input').val()+' sent at:'+dateAndTime); //send message
            console.log('message sent'); //testing
            $('#message_input').val(''); //empty the text input
        }

        function logout(){
            socket.send('System: '+uname+' has disconnected');
            //console.log('DISCONNECTED') //testing
        }

    </script>

    <ul id="message_log" style="overflow: hidden; overflow-y: scroll; height: 200px;"></ul>
    <script>
        var messageData = JSON.parse('{{messageData|tojson|safe}}');
        messageData.forEach(element => $("#message_log").append('<li>'+element+'</li>'));
    </script>
    <input type="text" id="message_input" class="form-control">
    <div class="btn-group">
        <button id="sendbutton" onclick="send()" class="btn btn-success">Send Message</button>
        <a href="/" class="btn btn-danger" onclick="logout()">Log Out</a>
    </div>
    
</body>
</html>